@import url("https://fonts.googleapis.com/css?family=Dosis:300,500");

$text-gray: #707070;
$fire-red: rgba(255, 56, 96, 1);
$fire-gray: #c0c0c0;

body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  color: $text-gray;
  margin-bottom: 75px;

  #container {
    max-width: 48rem;
    margin: auto;
    text-align: center;

    i {
      color: $fire-gray;
    }

    .burn {
      color: $fire-red;
    }

    h1 {
      margin-top: 75px;
      margin-bottom: 50px;
      font-size: 42px;
    }

    #heading-icon {
      font-size: 64px;
    }

    h2 {
      margin-top: 75px;
      margin-bottom: 30px;
    }

    table {
      margin: auto;
      font-size: 24px;

      th {
        width: 100px;
      }

      .location {
        text-align: right;
      }

      .icon {
        text-align: center;
      }

      .aqi {
        text-align: left;
      }
    }

    h3 {
      margin-top: 75px;
      margin-bottom: 30px;
    }

    ul {
      list-style-type: none;
      background-color: lightblue;
    }
  }
}
